body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --wildBlueYonder: #779ABB;
  --cyprus: #050B20;
  --orient: #245979;
  --Finn: #6B4369;
  --eastSide: #B59EBF;
  --sanMarino: #257AAC;
  --deepCerise: #CC288D;
  --galliano: #D1971D;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  

.secondary {
  --offBlack: #3a2d35;
  --light: #fdfafb;
  --blue: #314593;
  --rose: #bd98a9;
  --toffee: #977674;
  --black: #000000;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: row;
}

.fullPage {
  margin-top: 4rem;
  min-height: 100vh;
  width: 100vw;
}

